*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,p {
  font-family: var(--font-roboto);
}

html,
body{
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #111 ;
  color: #bbb;
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}